/.idea/
/dist/
/node_modules/
/*.tgz
/*.log
package-lock.json

#pnpm
/pnpm-lock.yaml

# ohos
*.py[co]
*.sw[nop]
*~
.cdtproject
.classpath
.cproject
.nyc_output
.project
.settings
.vscode
TAGS
coverage
dist
node_modules
npm-debug.log

/node_modules
/oh_modules
/.preview
/build
/.cxx
/.test
BuildProfile.ets

